/* CSS HEX 

white: #fefeffff;
columbia-blue: #d6efffff;
deep-champagne: #fed18cff;
deep-champagne-2: #fed99bff;
tomato: #fe654fff;

*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error{
    color: #ff0000;
}



/* Nav */

header{
    height: 70px;
    background-color:#fe654fff;
    padding: 0 20px;
    display: flex;
}

header h1{

    padding-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fefeffff;
}

.logo{
    width: 70px;
    line-height: 70px;
}

nav{
   margin-left: auto;
  
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    color:#fefeffff;
    display: inline-block;
    position: relative;
    line-height: 70px;
    padding: 0 8px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    
}

/* Home (Login) */

.card-home{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin-top: 5%;
}

.card-content{
    background: #fed99bff;
    padding: 2%;   
}

.card-home .card-content img{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 5%;
}

.card-content #pic{
    display: flex;
    justify-content: center;
}
.card-content-text .form-content{
    margin-top: 10%;
}
.card-content-text h1{
    margin-top: 5%;
}

.form-content{
    display: grid;
    padding: auto;
}

.card-content-text .form-content input{
   background-color: #d6efffff;
   border-radius: 5%;
   border: 0;
   margin-top: 5%;
   padding-top: 5%;
   padding-bottom: 5%;
   padding-left: 5%;
   font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
   
}

.form-content .error{
    padding: 3%;
    margin-top: 5%;

 }

.card-content-text .button-form{
    display: flex;
    justify-content: center;
}


.card-content-text .button-form input{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #d6efffff;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

}
.card-content-text p{
    display: flex;
    justify-content: center;
}


.card-content .button-form  a{
    background-color: #d6efffff;
    border: 0;
    margin-top: 15%;
    margin-bottom: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    
    
}

.card-content .button-form  a:visited{
    color: black;
}

/* Home (Login) * --- Finish----/

/* LoginV -- Choise a prosfile to login */
#principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    display: flex;
    justify-content: center;

}
.choise-login{
   display: inline-block;
   justify-content: center;
   align-items: center;
   padding: 15px;
   box-sizing: border-box;
   background-color: #fe654fff;
   margin-right: 15%;
   margin-left: 15%;
}


.title-choise-login p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: #fefeffff;  
}


.card-choise-login{
    display: flex;
    align-items:center;
    box-sizing: border-box;
    padding-top: 15px;
    margin-top: 15%;
    margin-bottom: 15%;

}

#button-option a{

    margin: 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: #d6efffff;
    padding: 15px;
    

    
}

/* Register User */
.principal-register{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    


}

.form-register{
    display: inline-grid;
    justify-content: flex-start;
    background: #fed99bff;
    padding: 5%; 
    box-sizing: border-box;
}

.form-register h1{
    font-size: 30px;
    color: black;
}

.form-content-register input{
    background-color: #d6efffff;
    border-radius: 5%;
    border: 0;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    
 }

 .form-content-register .error{
    margin-top: 5%;
 }
.form-register .cancel-register-register{
    background-color:#fe654fff;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 7%;
    font-size: 14px;
    text-decoration: none;
    padding: 5%;
    margin-top: 5%;
    
    
}

.form-register .btn{
    background-color: #d6efffff;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 7%;
    font-size: 14px;
    padding: 5%;
    margin-top: 5%;

}
.form-register .btn:hover{
    padding: 7%;

}
.cancel-register-register a{
    color: #fefeffff;
}

.form-content-register{
    display: grid;
    margin-top: 5%;

}


/*owner-dashboard*/
#owner-principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

#owner-principal #welcome-message{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    font-size: 30px;
}

.owner-choise{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    display: block;
    padding-bottom: 2%;
}

.title-choise{
    font-size: 25px;
    margin-bottom: 2%;
}
.owner-choise-options{
    display: block;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-right: 20%;
    padding-right: 20%;
}

#owner-button-option{
    margin-top: 5%;
    padding-top: 5%;
}
#owner-button-option .btn{
    margin-top: 2%;
    padding: 2%;
    background-color: #d6efffff;
    text-decoration: none;
}

#owner-button-option .btn:hover{
    padding: 5%;
}

/*owner-dashboard*/
#keeper-principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

#keeper-principal #welcome-message{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    font-size: 30px;
}

.keeper-choise{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    display: block;
    padding-bottom: 2%;
}

.title-choise{
    font-size: 25px;
    margin-bottom: 2%;
}
.keeper-choise-options{
    display: block;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-right: 20%;
    padding-right: 20%;
}

#keeper-button-option{
    margin-top: 5%;
    padding-top: 5%;
}
#keeper-button-option .btn{
    margin-top: 2%;
    padding: 2%;
    background-color: #d6efffff;
    text-decoration: none;
}

#keeper-button-option .btn:hover{
    padding: 5%;
}

/* Owner - Add PET */

#add-pet-principal{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

.form-add-pet{
    margin: 3%;
    padding: 2%;
}

.form-content-add-pet{
    margin-top:5%;
    display: grid;
}



.form-content-add-pet input{
    background-color: #d6efffff;
    border-radius: 5%;
    border: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}



.form-content-add-pet select {
    background-color: #d6efffff;
    border-radius: 5%;
    border: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;  
}

.form-content-add-pet textarea{
    background-color: #d6efffff;
    border-radius: 5%;
    border: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px; 
}

.form-content-add-pet-btn{
    display: flex;
    justify-content: center;
    border: 0;
    margin: 1%;
    padding: 1%;

}

.form-content-add-pet-btn input{
    background-color:#fe654fff;
    border-radius: 5%;
    border: 0;
    margin: 2%;
    padding:  5%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;

}
.form-content-add-pet-btn input:hover{
    padding: 7%;
}

.btn-goback{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    margin-top: 2%;
}

.btn-goback:hover{
    font-size: 18px;
}

/* List Pets */

.form-list-view-pet{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

.form-list-view-pet h1{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 30px;
}

.list-pet{
    background-color: #fefeffff;
   border-collapse: collapse;
   margin: 25px 0;
   margin-left: 2%;
   margin-right: 2%;
   font-size: 0.9em;
   min-width: 600px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0,0,0,0);
}

.list-pet thead th{
    background-color:#d6efffff;
    color: black;
    text-align: left;
    font-weight: bold;

}


.list-pet th , .list-pet td{
    padding: 12px 15px;

}

.list-pet tbody tr{
    border-bottom: 1px solid #dddddd;
}


.list-pet tbody tr:last-of-type{
    border-bottom: 2px solid #d6efffff;
}

.btn-list-pet{
    text-transform: capitalize;
    text-decoration: none;
    color: #fe654fff;
    font-size: 20px;
}

.btn-table{
    border: none;
    padding: 5%;
    background-color: #fe654fff;
    font-family: 'Josefin Sans', sans-serif;
    color: #fefeffff;
}
.btn-table :hover{
    padding: 8%;
    background-color: #ff0000;
}

/* Keeper List */

.form-list-view-keeper{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

.form-list-view-keeper h1{
    margin-top: 2%;
    padding-top: 2%;
    margin-left: 2%;
    font-size: 30px;
}

.keeper-list{
    background-color: #fefeffff;
   border-collapse: collapse;
   margin: 25px 0;
   margin-left: 2%;
   margin-right: 2%;
   font-size: 0.9em;
   min-width: 600px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0,0,0,0);
}

.keeper-list thead th{
    background-color:#d6efffff;
    color: black;
    text-align: left;
    font-weight: bold;

}


.keeper-list th , .keeper-list td{
    padding: 12px 15px;

}

.keeper-list tbody tr{
    border-bottom: 1px solid #dddddd;
}


.keeper-list tbody tr:last-of-type{
    border-bottom: 2px solid #d6efffff;
}

/* Calendar Set*/

.calendar-principal{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

.calendar-choise{
    margin-top: 5%;
    padding: 2%;
}

.calendar-choise h1{
    margin-bottom: 4%;
}

.form-content-calendar{
    margin-top:5%;
    display: grid;
}

.form-content-calendar input {
    background-color: #d6efffff;
    border-radius: 5%;
    border: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;  
}

.btn-calendar{
    border: 0;
    margin: 1%;
    padding: 4%;
    background-color: #fe654fff;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

.cancel-register{
    text-decoration: none;
    color: #fe654fff;  
}

/* Calendar Table */

.form-list-view-calendar{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

.form-list-view-calendar h1{
    margin-top: 2%;
    padding-top: 2%;
    margin-left: 2%;
    font-size: 30px;
}

.calendar-list{
    background-color: #fefeffff;
   border-collapse: collapse;
   margin: 25px 0;
   margin-left: 2%;
   margin-right: 2%;
   font-size: 0.9em;
   min-width: 600px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0,0,0,0);
}

.calendar-list thead th{
    background-color:#d6efffff;
    color: black;
    text-align: left;
    font-weight: bold;

}


.calendar-list th , .keeper-list td{
    padding: 12px 15px;

}

.calendar-list tbody tr{
    border-bottom: 1px solid #dddddd;
}


.calendar-list tbody tr:last-of-type{
    border-bottom: 2px solid #d6efffff;
}

.btn-set-unavaliable-calendar{
    text-transform: capitalize;
    text-decoration: none;
    border: 0;
    margin: 1%;
    padding: 2%;
    background-color: #fe654fff;
    color: #fefeffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

/* Modal View*/

.modal{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

.modal-body{

    border-radius: 5%;
    border: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.modal-body .btn-list-pet{
    background-color: #d6efffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    border: 0;
    margin: 1%;
    padding: 1%;

}

.form-content-payment{
    display: grid;
}
