/* CSS HEX 

white: #fefeffff;
columbia-blue: #d6efffff;
deep-champagne: #fed18cff;
deep-champagne-2: #fed99bff;
tomato: #fe654fff;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error{
    color: #ff0000;
}



/* Nav */

header{
    height: 70px;
    background-color:#fe654fff;
    padding: 0 20px;
    display: flex;
}

header h1{

    padding-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fefeffff;
}

.logo{
    width: 70px;
    line-height: 70px;
}

nav{
   margin-left: auto;
  
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    color:#fefeffff;
    display: inline-block;
    position: relative;
    line-height: 70px;
    padding: 0 8px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    
}






/* Home (Login) */

.card-home{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin-top: 5%;
}

.card-content{
    background: #fed99bff;
    padding: 2%;   
}

.card-home .card-content img{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 5%;
}

.card-content #pic{
    display: flex;
    justify-content: center;
}
.card-content-text .form-content{
    margin-top: 10%;
}
.card-content-text h1{
    margin-top: 5%;
}

.card-content-text .form-content input{
   background-color: #d6efffff;
   border-radius: 5%;
   border: 0;
   margin-top: 5%;
   padding-top: 5%;
   padding-bottom: 5%;
   padding-left: 5%;
   font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
   
}

.card-content-text .button-form{
    display: flex;
    justify-content: center;
}


.card-content-text .button-form input{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #d6efffff;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

}
.card-content-text p{
    display: flex;
    justify-content: center;
}


.card-content .button-form  a{
    background-color: #d6efffff;
    border: 0;
    margin-top: 15%;
    margin-bottom: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    
    
}

.card-content .button-form  a:visited{
    color: black;
}

/* Home (Login) * --- Finish----/

/* LoginV -- Choise a prosfile to login */
#principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    display: flex;
    justify-content: center;

}
.choise-login{
   display: inline-block;
   justify-content: center;
   align-items: center;
   padding: 15px;
   box-sizing: border-box;
   background-color: #fe654fff;
   margin-right: 15%;
   margin-left: 15%;
}


.title-choise-login p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: #fefeffff;  
}


.card-choise-login{
    display: flex;
    align-items:center;
    box-sizing: border-box;
    padding-top: 15px;
    margin-top: 15%;
    margin-bottom: 15%;

}

#button-option a{

    margin: 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: #d6efffff;
    padding: 15px;
    

    
}

/* Register User */
.principal-register{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    


}

.form-register{
    display: inline-grid;
    justify-content: flex-start;
    background: #fed99bff;
    padding: 5%; 
    box-sizing: border-box;
}

.form-register h1{
    font-size: 30px;
    color: black;
}

.form-content-register input{
    background-color: #d6efffff;
    border-radius: 5%;
    border: 0;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    
 }

 .form-content-register .error{
    margin-top: 5%;
 }
.form-register .cancel-register{
    background-color:#fe654fff;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 7%;
    font-size: 14px;
    text-decoration: none;
    padding: 5%;
    margin-top: 5%;
    
    
}

.form-register .btn{
    background-color: #d6efffff;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 7%;
    font-size: 14px;
    padding: 5%;
    margin-top: 5%;

}
.form-register .btn:hover{
    padding: 7%;

}
.cancel-register a{
    background-color: #fefeffff;
}

.form-content-register{
    display: grid;
    margin-top: 5%;

}


/*owner-dashboard*/
#owner-principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

#owner-principal #welcome-message{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    font-size: 30px;
}

.owner-choise{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    display: block;
    padding-bottom: 2%;
}

.title-choise{
    font-size: 25px;
    margin-bottom: 2%;
}
.owner-choise-options{
    display: block;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-right: 20%;
    padding-right: 20%;
}

#owner-button-option{
    margin-top: 5%;
    padding-top: 5%;
}
#owner-button-option .btn{
    margin-top: 2%;
    padding: 2%;
    background-color: #d6efffff;
    text-decoration: none;
}

#owner-button-option .btn:hover{
    padding: 5%;
}

/*owner-dashboard*/
#keeper-principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

#keeper-principal #welcome-message{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    font-size: 30px;
}

.keeper-choise{
    margin-top: 5%;
    margin-left: 2%;
    padding-top: 2%;
    display: block;
    padding-bottom: 2%;
}

.title-choise{
    font-size: 25px;
    margin-bottom: 2%;
}
.keeper-choise-options{
    display: block;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-right: 20%;
    padding-right: 20%;
}

#keeper-button-option{
    margin-top: 5%;
    padding-top: 5%;
}
#keeper-button-option .btn{
    margin-top: 2%;
    padding: 2%;
    background-color: #d6efffff;
    text-decoration: none;
}

#keeper-button-option .btn:hover{
    padding: 5%;
}

/* Owner - Add PET */

#add-pet-principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#fed99bff;
}

.form-add-pet{
    margin: 5%;
    padding: 2%;
}

.form-content-add-pet{
    margin-top:5%;
    display: grid;
}

.form-content-add-pet input{
    background-color: #d6efffff;
    border-radius: 5%;
    border: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}












